In [1]:
# 기본 라이브러리
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 그래프 기본 테마 설정
# https://coldbrown.co.kr/2023/07/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%8B%A4%EC%A0%84%ED%8E%B8-08-seaborn-sns-set%EC%9D%84-%ED%86%B5%ED%95%B4-%EC%8A%A4%ED%83%80%EC%9D%BC-%EC%84%A4%EC%A0%95%ED%95%98%EA%B8%B0/
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 복잡한 통계 처리를 위한 라이브러리
from scipy import stats

# 필요한 패키지
import os

In [2]:
# 현재 경로 확인
os.getcwd()

'c:\\Users\\admin\\Desktop\\mid_project\\MidProject\\ipynbTest\\Junhyeok'

In [3]:
# 상위 폴더로 이동
os.chdir('../../')

In [ ]:
# 현재 경로 확인
os.getcwd()

'c:\\Users\\admin\\Desktop\\mid_project\\MidProject'

### 두번째 전처리

In [6]:

# CSV 불러와서 확인인
RiskFactor_df = pd.read_csv("data/raw/201_DT_201011_L080004_Y_20250529130246.csv", encoding='euc-kr')
RiskFactor_df

,구분별,피해정도별,항목,단위,2013 년,2014 년,2015 년,2016 년,2017 년,2019 년,2020 년,2021 년,2022 년,Unnamed: 13
0,서울시,종합,현대사회 위험요인에 따른 피해정도,NaN,5.84,6.1,6.08,6.08,6.13,6.61,6.74,6.911141,6.636513,NaN
1,서울시,자연재해,현대사회 위험요인에 따른 피해정도,NaN,5.75,6.2,6.12,6.15,6.10,6.08,6.08,5.996181,6.509261,NaN
2,서울시,교통사고,현대사회 위험요인에 따른 피해정도,NaN,6.09,6.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,서울시,안전사고,현대사회 위험요인에 따른 피해정도,NaN,NaN,NaN,6.16,6.13,6.14,6.25,6.06,6.224865,6.396352,NaN
4,서울시,실업,현대사회 위험요인에 따른 피해정도,NaN,6.01,6.2,6.14,6.13,6.25,7.52,7.46,7.296268,6.812089,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074,기타,사회 갈등,현대사회 위험요인에 따른 피해정도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.619073,NaN
1075,기타,경제위기,현대사회 위험요인에 따른 피해정도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.844906,NaN
1076,기타,"사이버 보안, 개인정보유출 문제",현대사회 위험요인에 따른 피해정도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.311530,NaN
1077,기타,인터넷 상의 괴롭힘,현대사회 위험요인에 따른 피해정도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.326817,NaN
1078,기타,"아동, 노인, 장애인 방임 및 학대",현대사회 위험요인에 따른 피해정도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.213467,NaN

In [9]:
RiskFactor_df.isna().sum()

구분별               0
피해정도별             0
항목                0
단위             1079
2013 년          337
2014 년          337
2015 년          443
2016 년          443
2017 년          443
2019 년          839
2020 년          403
2021 년          518
2022 년          419
Unnamed: 13    1079
dtype: int64

In [12]:
# 2번째 CSV 불러와서 확인
careSalary_df = pd.read_csv("data/raw/건강보험+급여(구별)_20250529152628.csv", skiprows = 2)
careSalary_df = careSalary_df.drop(careSalary_df.columns[0], axis=1)
careSalary_df

,지치구별(2),현황별(1),소계,소계.1,직장(근로자),직장(근로자).1,공무원·교직원,공무원·교직원.1,지역,지역.1
0,지치구별(2),현황별(1),건수 (건),금액 (천원),건수 (건),금액 (천원),건수 (건),금액 (천원),건수 (건),금액 (천원)
1,소계,합계,272316838,14747461792,181495396,9087473854,14861101,741642370,75960341,4918345568
2,소계,입원,2544469,5058131542,1507143,2885587970,132699,250090225,904627,1922453346
3,소계,외래,176599763,6806083692,117193871,4383876733,9670038,355816822,49735854,2066390138
4,소계,약국,93172606,2883246558,62794382,1818009151,5058364,135735323,25319860,929502084
...,...,...,...,...,...,...,...,...,...,...
100,송파구,약국,6443790,187435440,4499706,121343964,405876,9821069,1538208,56270407
101,강동구,합계,13676624,702610763,9315217,444285786,778448,35846538,3582959,222478439
102,강동구,입원,119653,225519334,73449,132265823,6244,11265187,39960,81988324
103,강동구,외래,8918535,340729509,6038376,223832526,508338,18127525,2371821,98769459
104,강동구,약국,4638436,136361919,3203392,88187437,263866,6453826,1171178,41720656

In [14]:
# 컬럼명변경
careSalary_df = careSalary_df.rename(columns={'지치구별(2)': '자치구별'})
careSalary_df

,자치구별,현황별(1),소계,소계.1,직장(근로자),직장(근로자).1,공무원·교직원,공무원·교직원.1,지역,지역.1
0,지치구별(2),현황별(1),건수 (건),금액 (천원),건수 (건),금액 (천원),건수 (건),금액 (천원),건수 (건),금액 (천원)
1,소계,합계,272316838,14747461792,181495396,9087473854,14861101,741642370,75960341,4918345568
2,소계,입원,2544469,5058131542,1507143,2885587970,132699,250090225,904627,1922453346
3,소계,외래,176599763,6806083692,117193871,4383876733,9670038,355816822,49735854,2066390138
4,소계,약국,93172606,2883246558,62794382,1818009151,5058364,135735323,25319860,929502084
...,...,...,...,...,...,...,...,...,...,...
100,송파구,약국,6443790,187435440,4499706,121343964,405876,9821069,1538208,56270407
101,강동구,합계,13676624,702610763,9315217,444285786,778448,35846538,3582959,222478439
102,강동구,입원,119653,225519334,73449,132265823,6244,11265187,39960,81988324
103,강동구,외래,8918535,340729509,6038376,223832526,508338,18127525,2371821,98769459
104,강동구,약국,4638436,136361919,3203392,88187437,263866,6453826,1171178,41720656

In [15]:
# 컬럼을 확인한다. 
for i in careSalary_df.columns:
    print(i)

# 컬럼의 개수를 파악한다. 
print("컬럼 개수:", len(careSalary_df.columns))

자치구별
현황별(1)
소계
소계.1
직장(근로자)
직장(근로자).1
공무원·교직원
공무원·교직원.1
지역
지역.1
컬럼 개수: 10

In [16]:
careSalary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   자치구별       105 non-null    object
 1   현황별(1)     105 non-null    object
 2   소계         105 non-null    object
 3   소계.1       105 non-null    object
 4   직장(근로자)    105 non-null    object
 5   직장(근로자).1  105 non-null    object
 6   공무원·교직원    105 non-null    object
 7   공무원·교직원.1  105 non-null    object
 8   지역         105 non-null    object
 9   지역.1       105 non-null    object
dtypes: object(10)
memory usage: 8.3+ KB

In [18]:
careSalary_df.dtypes

자치구별         object
현황별(1)       object
소계           object
소계.1         object
직장(근로자)      object
직장(근로자).1    object
공무원·교직원      object
공무원·교직원.1    object
지역           object
지역.1         object
dtype: object

In [ ]:
# 소계, 지치구별 열을 다 없애버린다. 
careSalary_df = careSalary_df[
    (careSalary_df['자치구별'] != '소계') & (careSalary_df['자치구별'] != '지치구별(2)')
]
careSalary_df

,자치구별,현황별(1),소계,소계.1,직장(근로자),직장(근로자).1,공무원·교직원,공무원·교직원.1,지역,지역.1
1,종로구,합계,3810010,232294908,2311924,129798054,224849,12119545,1273237,90377308
2,종로구,입원,40189,87094206,20873,44674254,2107,4189796,17209,38230156
3,종로구,외래,2511568,101834836,1518394,60190554,148309,5671638,844865,35972644
4,종로구,약국,1258253,43365866,772657,24933247,74433,2258111,411163,16174509
5,중구,합계,3648699,214495919,2317550,124260986,143118,7794061,1188031,82440872
...,...,...,...,...,...,...,...,...,...,...
96,송파구,약국,6443790,187435440,4499706,121343964,405876,9821069,1538208,56270407
97,강동구,합계,13676624,702610763,9315217,444285786,778448,35846538,3582959,222478439
98,강동구,입원,119653,225519334,73449,132265823,6244,11265187,39960,81988324
99,강동구,외래,8918535,340729509,6038376,223832526,508338,18127525,2371821,98769459
100,강동구,약국,4638436,136361919,3203392,88187437,263866,6453826,1171178,41720656

In [ ]:
# 인덱스를 리셋해준다
careSalary_df = careSalary_df.reset_index(drop=True)
careSalary_df

,자치구별,현황별(1),소계,소계.1,직장(근로자),직장(근로자).1,공무원·교직원,공무원·교직원.1,지역,지역.1
0,종로구,합계,3810010,232294908,2311924,129798054,224849,12119545,1273237,90377308
1,종로구,입원,40189,87094206,20873,44674254,2107,4189796,17209,38230156
2,종로구,외래,2511568,101834836,1518394,60190554,148309,5671638,844865,35972644
3,종로구,약국,1258253,43365866,772657,24933247,74433,2258111,411163,16174509
4,중구,합계,3648699,214495919,2317550,124260986,143118,7794061,1188031,82440872
...,...,...,...,...,...,...,...,...,...,...
95,송파구,약국,6443790,187435440,4499706,121343964,405876,9821069,1538208,56270407
96,강동구,합계,13676624,702610763,9315217,444285786,778448,35846538,3582959,222478439
97,강동구,입원,119653,225519334,73449,132265823,6244,11265187,39960,81988324
98,강동구,외래,8918535,340729509,6038376,223832526,508338,18127525,2371821,98769459
99,강동구,약국,4638436,136361919,3203392,88187437,263866,6453826,1171178,41720656

In [ ]:
# 컬럼 이름을 바꿔준다. 
careSalary_df.columns = [col.replace('.1', '(건수)') for col in careSalary_df.columns]
careSalary_df.columns = [col.replace('(1)', '') for col in careSalary_df.columns]
careSalary_df

,자치구별,현황별,소계,소계(건수),직장(근로자),직장(근로자)(건수),공무원·교직원,공무원·교직원(건수),지역,지역(건수)
0,종로구,합계,3810010,232294908,2311924,129798054,224849,12119545,1273237,90377308
1,종로구,입원,40189,87094206,20873,44674254,2107,4189796,17209,38230156
2,종로구,외래,2511568,101834836,1518394,60190554,148309,5671638,844865,35972644
3,종로구,약국,1258253,43365866,772657,24933247,74433,2258111,411163,16174509
4,중구,합계,3648699,214495919,2317550,124260986,143118,7794061,1188031,82440872
...,...,...,...,...,...,...,...,...,...,...
95,송파구,약국,6443790,187435440,4499706,121343964,405876,9821069,1538208,56270407
96,강동구,합계,13676624,702610763,9315217,444285786,778448,35846538,3582959,222478439
97,강동구,입원,119653,225519334,73449,132265823,6244,11265187,39960,81988324
98,강동구,외래,8918535,340729509,6038376,223832526,508338,18127525,2371821,98769459
99,강동구,약국,4638436,136361919,3203392,88187437,263866,6453826,1171178,41720656

In [36]:
# csv로 내보낸다.
careSalary_df.to_csv('data/processed/건강보험_급여구별여구별.csv', encoding='utf-8-sig', index=True)

### 세번째 전처리

In [37]:
# 현재 경로 확인
os.getcwd()

'c:\\Users\\admin\\Desktop\\mid_project\\MidProject'

In [42]:
# 세번째 CSV 불러와서 확인
crime_lot_df = pd.read_csv("data/raw/경찰청 서울특별시경찰청_5대범죄 발생 장소별 현황_20231231.csv", encoding="euc-kr")
crime_lot_df

    범죄명             장소  발생건수
0    살인           단독주택    19
1    살인            아파트    21
2    살인         다세대/연립    28
3    살인       오피스텔(원룸)     2
4    살인  기타거주시설(기숙사 등)     4
..   ..            ...   ...
303  폭력      군사기지/군사시설     7
304  폭력           구금장소    37
305  폭력         사회복지시설    51
306  폭력             기타  8026
307  폭력             미상  1081

[308 rows x 3 columns]

In [ ]:
crime_lot_df.isna().sum()

범죄명     0
장소      0
발생건수    0
dtype: int64

In [47]:
crime_lot_df['범죄명'].unique()

array(['살인', '강도', '강간·강제추행', '절도', '폭력'], dtype=object)

In [49]:
# csv로 내보낸다.
crime_lot_df.to_csv('data/processed/5대범죄 범죄 발생 장소별 현황.csv', encoding='utf-8-sig', index=True)

### 네번째 전처리

In [50]:
# CSV 불러와서 확인
employIndicate_df = pd.read_csv("data/raw/고용지표_20250529155101.csv")

employIndicate_df

         시점 경제활동참가율 경제활동참가율.1 경제활동참가율.2  실업률 실업률.1 실업률.2   고용률 고용률.1 고용률.2
0        시점      합계        남자        여자   합계    남자    여자    합계    남자    여자
1  2025. 01    62.9      70.2      56.4  4.2   3.8   4.7  60.3  67.5  53.8
2  2025. 02    63.5      71.0      56.8  4.7   4.3   5.1  60.5  67.9  53.9
3  2025. 03    63.4      70.9      56.6  4.6   4.3   4.9  60.5  67.9  53.9

In [51]:
# 모호한 컬럼 이름을 바꿔준다. 
employIndicate_df.columns = [col.replace('.1', '(남자)') for col in employIndicate_df.columns]
employIndicate_df.columns = [col.replace('.2', '(여자)') for col in employIndicate_df.columns]
employIndicate_df

,시점,경제활동참가율,경제활동참가율(남자),경제활동참가율(여자),실업률,실업률(남자),실업률(여자),고용률,고용률(남자),고용률(여자)
0,시점,합계,남자,여자,합계,남자,여자,합계,남자,여자
1,2025. 01,62.9,70.2,56.4,4.2,3.8,4.7,60.3,67.5,53.8
2,2025. 02,63.5,71.0,56.8,4.7,4.3,5.1,60.5,67.9,53.9
3,2025. 03,63.4,70.9,56.6,4.6,4.3,4.9,60.5,67.9,53.9

In [53]:
# 0번째 열을 지워준다. 
employIndicate_df = employIndicate_df[(employIndicate_df['시점'] != '시점')]

In [62]:
employIndicate_df = employIndicate_df.reset_index(drop=True)

In [63]:
employIndicate_df

,시점,경제활동참가율,경제활동참가율(남자),경제활동참가율(여자),실업률,실업률(남자),실업률(여자),고용률,고용률(남자),고용률(여자)
0,2025. 01,62.9,70.2,56.4,4.2,3.8,4.7,60.3,67.5,53.8
1,2025. 02,63.5,71.0,56.8,4.7,4.3,5.1,60.5,67.9,53.9
2,2025. 03,63.4,70.9,56.6,4.6,4.3,4.9,60.5,67.9,53.9

In [64]:
# csv로 내보낸다.
employIndicate_df.to_csv('data/processed/고용지표 2025_3개월.csv', encoding='utf-8-sig', index=True)

### 다섯번쨰

In [69]:
# CSV 불러와서 확인
mulcultureF_df = pd.read_csv("data/raw/다문화가구_및_가구원_구별__20250529113752.csv")
mulcultureF_df

    자치구별(1) 자치구별(2)      구분별(1)      구분별(2)    2021    2022    2023
0        합계      소계  다문화가구 (가구)          소계   71337   72949   74514
1        합계      소계  다문화가구원 (명)          소계  187022  190458  194025
2        합계      소계  다문화가구원 (명)     내국인(출생)  101146  103655  106365
3        합계      소계  다문화가구원 (명)  내국인(귀화·인지)   44471   45501   46374
4        합계      소계  다문화가구원 (명)  외국인(결혼이민자)   30984   31692   31555
..      ...     ...         ...         ...     ...     ...     ...
151      합계     강동구  다문화가구원 (명)          소계    7004    7151    7378
152      합계     강동구  다문화가구원 (명)     내국인(출생)    4361    4451    4597
153      합계     강동구  다문화가구원 (명)  내국인(귀화·인지)    1315    1365    1400
154      합계     강동구  다문화가구원 (명)  외국인(결혼이민자)    1116    1137    1178
155      합계     강동구  다문화가구원 (명)     외국인(기타)     212     198     203

[156 rows x 7 columns]

In [ ]:
# 소계 열이 있다면 포함시키지 않는다다. 
mulcultureF_df = mulcultureF_df[(mulcultureF_df['자치구별(2)'] != '소계')]
mulcultureF_df

    자치구별(1) 자치구별(2)      구분별(1)      구분별(2)  2021  2022  2023
6        합계     종로구  다문화가구 (가구)          소계  1160  1178  1208
7        합계     종로구  다문화가구원 (명)          소계  3057  3067  3095
8        합계     종로구  다문화가구원 (명)     내국인(출생)  1780  1790  1810
9        합계     종로구  다문화가구원 (명)  내국인(귀화·인지)   511   535   540
10       합계     종로구  다문화가구원 (명)  외국인(결혼이민자)   611   612   598
..      ...     ...         ...         ...   ...   ...   ...
151      합계     강동구  다문화가구원 (명)          소계  7004  7151  7378
152      합계     강동구  다문화가구원 (명)     내국인(출생)  4361  4451  4597
153      합계     강동구  다문화가구원 (명)  내국인(귀화·인지)  1315  1365  1400
154      합계     강동구  다문화가구원 (명)  외국인(결혼이민자)  1116  1137  1178
155      합계     강동구  다문화가구원 (명)     외국인(기타)   212   198   203

[150 rows x 7 columns]

In [71]:
mulcultureF_df.columns

Index(['자치구별(1)', '자치구별(2)', '구분별(1)', '구분별(2)', '2021', '2022', '2023'], dtype='object')

In [72]:
mulcultureF_df.isna().sum()

자치구별(1)    0
자치구별(2)    0
구분별(1)     0
구분별(2)     0
2021       0
2022       0
2023       0
dtype: int64

In [73]:
mulcultureF_df = mulcultureF_df.reset_index(drop=True)

In [74]:
# 컬럼 이름을 바꿔준다.
mulcultureF_df = mulcultureF_df.rename(columns={'자치구별(2)': '자치구별'})
mulcultureF_df

    자치구별(1) 자치구별      구분별(1)      구분별(2)  2021  2022  2023
0        합계  종로구  다문화가구 (가구)          소계  1160  1178  1208
1        합계  종로구  다문화가구원 (명)          소계  3057  3067  3095
2        합계  종로구  다문화가구원 (명)     내국인(출생)  1780  1790  1810
3        합계  종로구  다문화가구원 (명)  내국인(귀화·인지)   511   535   540
4        합계  종로구  다문화가구원 (명)  외국인(결혼이민자)   611   612   598
..      ...  ...         ...         ...   ...   ...   ...
145      합계  강동구  다문화가구원 (명)          소계  7004  7151  7378
146      합계  강동구  다문화가구원 (명)     내국인(출생)  4361  4451  4597
147      합계  강동구  다문화가구원 (명)  내국인(귀화·인지)  1315  1365  1400
148      합계  강동구  다문화가구원 (명)  외국인(결혼이민자)  1116  1137  1178
149      합계  강동구  다문화가구원 (명)     외국인(기타)   212   198   203

[150 rows x 7 columns]

In [75]:
# 자치구별(1)을 없애준다
mulcultureF_df.drop('자치구별(1)', axis=1, inplace=True)
mulcultureF_df

    자치구별      구분별(1)      구분별(2)  2021  2022  2023
0    종로구  다문화가구 (가구)          소계  1160  1178  1208
1    종로구  다문화가구원 (명)          소계  3057  3067  3095
2    종로구  다문화가구원 (명)     내국인(출생)  1780  1790  1810
3    종로구  다문화가구원 (명)  내국인(귀화·인지)   511   535   540
4    종로구  다문화가구원 (명)  외국인(결혼이민자)   611   612   598
..   ...         ...         ...   ...   ...   ...
145  강동구  다문화가구원 (명)          소계  7004  7151  7378
146  강동구  다문화가구원 (명)     내국인(출생)  4361  4451  4597
147  강동구  다문화가구원 (명)  내국인(귀화·인지)  1315  1365  1400
148  강동구  다문화가구원 (명)  외국인(결혼이민자)  1116  1137  1178
149  강동구  다문화가구원 (명)     외국인(기타)   212   198   203

[150 rows x 6 columns]

In [76]:
# 구분별(2)가 소계인인 열을 지워준다. 
mulcultureF_df = mulcultureF_df[(mulcultureF_df['구분별(2)'] != '소계')]
mulcultureF_df

    자치구별      구분별(1)      구분별(2)  2021  2022  2023
2    종로구  다문화가구원 (명)     내국인(출생)  1780  1790  1810
3    종로구  다문화가구원 (명)  내국인(귀화·인지)   511   535   540
4    종로구  다문화가구원 (명)  외국인(결혼이민자)   611   612   598
5    종로구  다문화가구원 (명)     외국인(기타)   155   130   147
8     중구  다문화가구원 (명)     내국인(출생)  1811  1850  1924
..   ...         ...         ...   ...   ...   ...
143  송파구  다문화가구원 (명)     외국인(기타)   254   254   254
146  강동구  다문화가구원 (명)     내국인(출생)  4361  4451  4597
147  강동구  다문화가구원 (명)  내국인(귀화·인지)  1315  1365  1400
148  강동구  다문화가구원 (명)  외국인(결혼이민자)  1116  1137  1178
149  강동구  다문화가구원 (명)     외국인(기타)   212   198   203

[100 rows x 6 columns]

In [80]:
# 유니크 함수로 컬럼의 값의 종류를 확인한다. 
mulcultureF_df['자치구별'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'], dtype=object)

In [81]:
# 유니크 함수로 컬럼의 값의 수를 확인한다. 
len(mulcultureF_df['자치구별'].unique())

25

In [82]:
# csv로 내보낸다.
mulcultureF_df.to_csv('data/processed/다문화가구 및 가구원 구별.csv', encoding='utf-8-sig', index=True)

### 여섯 번째 전처리

In [87]:
street_stf_df = pd.read_csv("data/raw/도로시설물_20250529153446.csv")
street_stf_df

    자치구별(1)  자치구별(2)     2023
0   자치구별(1)  자치구별(2)      가로등
1   자치구별(1)  자치구별(2)  개소 (개소)
2        합계      종로구     7433
3        합계       중구     8709
4        합계      용산구     7560
5        합계      성동구     6283
6        합계      광진구     5105
7        합계     동대문구     8517
8        합계      중랑구     7668
9        합계      성북구     5796
10       합계      강북구     4379
11       합계      도봉구     5032
12       합계      노원구     9510
13       합계      은평구     6581
14       합계     서대문구     6015
15       합계      마포구     9008
16       합계      양천구     8848
17       합계      강서구    10433
18       합계      구로구     8688
19       합계      금천구     5169
20       합계     영등포구     9986
21       합계      동작구     6171
22       합계      관악구     5946
23       합계      서초구    12634
24       합계      강남구    14771
25       합계      송파구    15197
26       합계      강동구     8165

In [88]:
# 자치구별에 자치구별이라는 값이 있다면 그 열을 지워준다. 
street_stf_df = street_stf_df[(street_stf_df['자치구별(1)'] != '자치구별(1)')]
# 컬럼 이름을 바꿔준다.
street_stf_df = street_stf_df.rename(columns={'2023': '2023 가로등 개수'})
street_stf_df

   자치구별(1) 자치구별(2) 2023 가로등 개수
2       합계     종로구        7433
3       합계      중구        8709
4       합계     용산구        7560
5       합계     성동구        6283
6       합계     광진구        5105
7       합계    동대문구        8517
8       합계     중랑구        7668
9       합계     성북구        5796
10      합계     강북구        4379
11      합계     도봉구        5032
12      합계     노원구        9510
13      합계     은평구        6581
14      합계    서대문구        6015
15      합계     마포구        9008
16      합계     양천구        8848
17      합계     강서구       10433
18      합계     구로구        8688
19      합계     금천구        5169
20      합계    영등포구        9986
21      합계     동작구        6171
22      합계     관악구        5946
23      합계     서초구       12634
24      합계     강남구       14771
25      합계     송파구       15197
26      합계     강동구        8165

In [89]:
# 컬럼을 통째로 삭제
street_stf_df.drop('자치구별(1)', axis=1, inplace=True)

In [90]:
# 자치구별(2)의 이름도 그냥 자치구별로 바꿔준다
street_stf_df = street_stf_df.rename(columns={'자치구별(2)': '자치구별'})

street_stf_df

    자치구별 2023 가로등 개수
2    종로구        7433
3     중구        8709
4    용산구        7560
5    성동구        6283
6    광진구        5105
7   동대문구        8517
8    중랑구        7668
9    성북구        5796
10   강북구        4379
11   도봉구        5032
12   노원구        9510
13   은평구        6581
14  서대문구        6015
15   마포구        9008
16   양천구        8848
17   강서구       10433
18   구로구        8688
19   금천구        5169
20  영등포구        9986
21   동작구        6171
22   관악구        5946
23   서초구       12634
24   강남구       14771
25   송파구       15197
26   강동구        8165

In [91]:
street_stf_df['자치구별'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'], dtype=object)

In [92]:
len(street_stf_df['자치구별'].unique())

25

In [93]:
# csv로 내보낸다.
street_stf_df.to_csv('data/processed/도로시설물_가로등.csv', encoding='utf-8-sig', index=True)

### 일곱 번째 전처리

In [96]:
# CSV 불러와서 확인
traffic_df = pd.read_csv("data/raw/도심지점별_교통량_20250529153247.csv", encoding="euc-kr")
traffic_df

   도심지점별(1)        도심지점별(2)   2017   2018   2019   2020   2021   2022   2023
0        합계       성산로(금화터널)  72010  70968  70553  64560  61628  63125  62719
1        합계       사직로(사직터널)  79182  78237  77165  70637  68168  67874  68989
2        합계     자하문로(자하문터널)  34979  33792  32824  30570  29086  27352  27428
3        합계      대사관로(삼청터널)  12400  12793  12622  11832  11963  10925  10508
4        합계        율곡로(안국역)  56697  59958  58008  55353  52628  53866  53806
5        합계   창경궁로(서울여자대학교)  44903  42976  41802  39000  38112  40487  41506
6        합계  대학로(한국방송통신대학교)  38422  39126  39053  35754  33772  32746  35030
7        합계        종로(동묘앞역)  56616  53223  53583  52449  50765  50681  52146
8        합계        퇴계로(신당역)  51913  48783  46455  44075  41021  41158  43085
9        합계      동호로(장충체육관)  68962  68290  62588  54133  52273  53542  56042
10       합계     장충단로(장충단공원)  56157  55398  54119  48378  47768  48456  49261
11       합계        퇴계로(회현역)  34270  32875  32945  29686  29730  29905  29707
12       합계       세종대로(서울역)  69216  62856  61168  53936  53578  54211  55509
13       합계   새문안로(서울역사박물관)      -  49446  48852  45749  45839  46193  47579
14       합계       종로(종로3가역)  69224  46469  46327  42628  41143  41158  41664
15       합계       서소문로(시청역)  53835  51168  49602  46063  42890  44797  43390
16       합계      세종대로(시청역2)  83213  79221  76671  69782  61490  60933  61799
17       합계     을지로(을지로3가역)  35819  35238  34244  32305  31220  30783  31410
18       합계        칠패로(숭례문)  19185  19158  18494  16897  16232  16281  18107
19       합계          남산1호터널  70399  69174  70070  63920  63685  65518  67741
20       합계          남산2호터널  26487  27261  26395  20999  19913  19678  20439
21       합계          남산3호터널  39874  39325  38341  33026  31989  32713  34413
22       합계        소월로(회현역)  16256  15582  14359  12169  11306  10832  11407
23       합계    소파로(숭의여자대학교)  15444  15070  13662  10097   9618   9592   9502

In [97]:
# 도심지점별(1) 컬럼을 삭제하고 (2)의 경우 도심지점별이라는 이름으로 바꾼다. 
traffic_df.drop('도심지점별(1)', axis=1, inplace=True)
# 컬럼 이름 변경
traffic_df = traffic_df.rename(columns={'도심지점별(2)': '도심지점별'})
# 확인한다
traffic_df

             도심지점별   2017   2018   2019   2020   2021   2022   2023
0        성산로(금화터널)  72010  70968  70553  64560  61628  63125  62719
1        사직로(사직터널)  79182  78237  77165  70637  68168  67874  68989
2      자하문로(자하문터널)  34979  33792  32824  30570  29086  27352  27428
3       대사관로(삼청터널)  12400  12793  12622  11832  11963  10925  10508
4         율곡로(안국역)  56697  59958  58008  55353  52628  53866  53806
5    창경궁로(서울여자대학교)  44903  42976  41802  39000  38112  40487  41506
6   대학로(한국방송통신대학교)  38422  39126  39053  35754  33772  32746  35030
7         종로(동묘앞역)  56616  53223  53583  52449  50765  50681  52146
8         퇴계로(신당역)  51913  48783  46455  44075  41021  41158  43085
9       동호로(장충체육관)  68962  68290  62588  54133  52273  53542  56042
10     장충단로(장충단공원)  56157  55398  54119  48378  47768  48456  49261
11        퇴계로(회현역)  34270  32875  32945  29686  29730  29905  29707
12       세종대로(서울역)  69216  62856  61168  53936  53578  54211  55509
13   새문안로(서울역사박물관)      -  49446  48852  45749  45839  46193  47579
14       종로(종로3가역)  69224  46469  46327  42628  41143  41158  41664
15       서소문로(시청역)  53835  51168  49602  46063  42890  44797  43390
16      세종대로(시청역2)  83213  79221  76671  69782  61490  60933  61799
17     을지로(을지로3가역)  35819  35238  34244  32305  31220  30783  31410
18        칠패로(숭례문)  19185  19158  18494  16897  16232  16281  18107
19          남산1호터널  70399  69174  70070  63920  63685  65518  67741
20          남산2호터널  26487  27261  26395  20999  19913  19678  20439
21          남산3호터널  39874  39325  38341  33026  31989  32713  34413
22        소월로(회현역)  16256  15582  14359  12169  11306  10832  11407
23    소파로(숭의여자대학교)  15444  15070  13662  10097   9618   9592   9502

In [ ]:
# 결측치를 확인한다. 
traffic_df.isna().sum()

도심지점별    0
2017     0
2018     0
2019     0
2020     0
2021     0
2022     0
2023     0
dtype: int64

In [99]:
# -값이 결측치로 확인되지 않으므로 결측치로 파악하게 만든다. 
traffic_df.replace('-', pd.NA, inplace=True)

In [100]:
# 다시 한번 결측치의 개수를 본다. 
traffic_df.isna().sum()

도심지점별    0
2017     1
2018     0
2019     0
2020     0
2021     0
2022     0
2023     0
dtype: int64

'성산로(금화터널)' : 서대문구,
'사직로(사직터널)' : 종로구, 
'자하문로(자하문터널)' : 종로구,
'대사관로(삼청터널)' : 종로구,
'율곡로(안국역)' : 종로구,
'창경궁로(서울여자대학교)' : 노원구,
'대학로(한국방송통신대학교)' : 종로구,
'종로(동묘앞역)' : 종로구,
'퇴계로(신당역)': 중구,
'새문안로(서울역사박물관)' : 종로구
'종로(종로3가역)' : 종로구
'서소문로(시청역)' : 중구
'세종대로(시청역2)' : 중구
'을지로(을지로3가역)' : 중구
'칠패로(숭례문)' : 중구
'남산1호터널' : 용산구, 중구
'남산2호터널' : 용산구, 중구
'남산3호터널' : 용산구, 중구
'소월로(회현역)' : 중구
'소파로(숭의여자대학교)' : 중구

In [103]:
traffic_df['도심지점별'].unique()

array(['성산로(금화터널)', '사직로(사직터널)', '자하문로(자하문터널)', '대사관로(삼청터널)', '율곡로(안국역)',
       '창경궁로(서울여자대학교)', '대학로(한국방송통신대학교)', '종로(동묘앞역)', '퇴계로(신당역)',
       '동호로(장충체육관)', '장충단로(장충단공원)', '퇴계로(회현역)', '세종대로(서울역)',
       '새문안로(서울역사박물관)', '종로(종로3가역)', '서소문로(시청역)', '세종대로(시청역2)',
       '을지로(을지로3가역)', '칠패로(숭례문)', '남산1호터널', '남산2호터널', '남산3호터널',
       '소월로(회현역)', '소파로(숭의여자대학교)'], dtype=object)

In [104]:
# csv로 내보낸다.
traffic_df.to_csv('data/processed/도심지점별교통량량 2023까지.csv', encoding='utf-8-sig', index=True)

### 여덟 번쨰 전처리