In [1]:
# 기본 라이브러리
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 그래프 기본 테마 설정
# https://coldbrown.co.kr/2023/07/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%8B%A4%EC%A0%84%ED%8E%B8-08-seaborn-sns-set%EC%9D%84-%ED%86%B5%ED%95%B4-%EC%8A%A4%ED%83%80%EC%9D%BC-%EC%84%A4%EC%A0%95%ED%95%98%EA%B8%B0/
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 복잡한 통계 처리를 위한 라이브러리
from scipy import stats

# 필요한 패키지
import os

In [2]:
# 현재 경로 확인
os.getcwd()

'c:\\Users\\admin\\Desktop\\mid_project\\MidProject\\ipynbTest\\Junhyeok'

In [3]:
# 상위 폴더로 이동
os.chdir('../../')

In [ ]:
# 현재 경로 확인
os.getcwd()

'c:\\Users\\admin\\Desktop\\mid_project\\MidProject'

### 두번째 전처리

In [6]:

# CSV 불러와서 확인인
RiskFactor_df = pd.read_csv("data/raw/201_DT_201011_L080004_Y_20250529130246.csv", encoding='euc-kr')
RiskFactor_df

,구분별,피해정도별,항목,단위,2013 년,2014 년,2015 년,2016 년,2017 년,2019 년,2020 년,2021 년,2022 년,Unnamed: 13
0,서울시,종합,현대사회 위험요인에 따른 피해정도,NaN,5.84,6.1,6.08,6.08,6.13,6.61,6.74,6.911141,6.636513,NaN
1,서울시,자연재해,현대사회 위험요인에 따른 피해정도,NaN,5.75,6.2,6.12,6.15,6.10,6.08,6.08,5.996181,6.509261,NaN
2,서울시,교통사고,현대사회 위험요인에 따른 피해정도,NaN,6.09,6.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,서울시,안전사고,현대사회 위험요인에 따른 피해정도,NaN,NaN,NaN,6.16,6.13,6.14,6.25,6.06,6.224865,6.396352,NaN
4,서울시,실업,현대사회 위험요인에 따른 피해정도,NaN,6.01,6.2,6.14,6.13,6.25,7.52,7.46,7.296268,6.812089,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074,기타,사회 갈등,현대사회 위험요인에 따른 피해정도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.619073,NaN
1075,기타,경제위기,현대사회 위험요인에 따른 피해정도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.844906,NaN
1076,기타,"사이버 보안, 개인정보유출 문제",현대사회 위험요인에 따른 피해정도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.311530,NaN
1077,기타,인터넷 상의 괴롭힘,현대사회 위험요인에 따른 피해정도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.326817,NaN
1078,기타,"아동, 노인, 장애인 방임 및 학대",현대사회 위험요인에 따른 피해정도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.213467,NaN

In [9]:
RiskFactor_df.isna().sum()

구분별               0
피해정도별             0
항목                0
단위             1079
2013 년          337
2014 년          337
2015 년          443
2016 년          443
2017 년          443
2019 년          839
2020 년          403
2021 년          518
2022 년          419
Unnamed: 13    1079
dtype: int64

In [12]:
# 2번째 CSV 불러와서 확인
careSalary_df = pd.read_csv("data/raw/건강보험+급여(구별)_20250529152628.csv", skiprows = 2)
careSalary_df = careSalary_df.drop(careSalary_df.columns[0], axis=1)
careSalary_df

,지치구별(2),현황별(1),소계,소계.1,직장(근로자),직장(근로자).1,공무원·교직원,공무원·교직원.1,지역,지역.1
0,지치구별(2),현황별(1),건수 (건),금액 (천원),건수 (건),금액 (천원),건수 (건),금액 (천원),건수 (건),금액 (천원)
1,소계,합계,272316838,14747461792,181495396,9087473854,14861101,741642370,75960341,4918345568
2,소계,입원,2544469,5058131542,1507143,2885587970,132699,250090225,904627,1922453346
3,소계,외래,176599763,6806083692,117193871,4383876733,9670038,355816822,49735854,2066390138
4,소계,약국,93172606,2883246558,62794382,1818009151,5058364,135735323,25319860,929502084
...,...,...,...,...,...,...,...,...,...,...
100,송파구,약국,6443790,187435440,4499706,121343964,405876,9821069,1538208,56270407
101,강동구,합계,13676624,702610763,9315217,444285786,778448,35846538,3582959,222478439
102,강동구,입원,119653,225519334,73449,132265823,6244,11265187,39960,81988324
103,강동구,외래,8918535,340729509,6038376,223832526,508338,18127525,2371821,98769459
104,강동구,약국,4638436,136361919,3203392,88187437,263866,6453826,1171178,41720656

In [14]:
# 컬럼명변경
careSalary_df = careSalary_df.rename(columns={'지치구별(2)': '자치구별'})
careSalary_df

,자치구별,현황별(1),소계,소계.1,직장(근로자),직장(근로자).1,공무원·교직원,공무원·교직원.1,지역,지역.1
0,지치구별(2),현황별(1),건수 (건),금액 (천원),건수 (건),금액 (천원),건수 (건),금액 (천원),건수 (건),금액 (천원)
1,소계,합계,272316838,14747461792,181495396,9087473854,14861101,741642370,75960341,4918345568
2,소계,입원,2544469,5058131542,1507143,2885587970,132699,250090225,904627,1922453346
3,소계,외래,176599763,6806083692,117193871,4383876733,9670038,355816822,49735854,2066390138
4,소계,약국,93172606,2883246558,62794382,1818009151,5058364,135735323,25319860,929502084
...,...,...,...,...,...,...,...,...,...,...
100,송파구,약국,6443790,187435440,4499706,121343964,405876,9821069,1538208,56270407
101,강동구,합계,13676624,702610763,9315217,444285786,778448,35846538,3582959,222478439
102,강동구,입원,119653,225519334,73449,132265823,6244,11265187,39960,81988324
103,강동구,외래,8918535,340729509,6038376,223832526,508338,18127525,2371821,98769459
104,강동구,약국,4638436,136361919,3203392,88187437,263866,6453826,1171178,41720656

In [15]:
# 컬럼을 확인한다. 
for i in careSalary_df.columns:
    print(i)

# 컬럼의 개수를 파악한다. 
print("컬럼 개수:", len(careSalary_df.columns))

자치구별
현황별(1)
소계
소계.1
직장(근로자)
직장(근로자).1
공무원·교직원
공무원·교직원.1
지역
지역.1
컬럼 개수: 10

In [16]:
careSalary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   자치구별       105 non-null    object
 1   현황별(1)     105 non-null    object
 2   소계         105 non-null    object
 3   소계.1       105 non-null    object
 4   직장(근로자)    105 non-null    object
 5   직장(근로자).1  105 non-null    object
 6   공무원·교직원    105 non-null    object
 7   공무원·교직원.1  105 non-null    object
 8   지역         105 non-null    object
 9   지역.1       105 non-null    object
dtypes: object(10)
memory usage: 8.3+ KB

In [18]:
careSalary_df.dtypes

자치구별         object
현황별(1)       object
소계           object
소계.1         object
직장(근로자)      object
직장(근로자).1    object
공무원·교직원      object
공무원·교직원.1    object
지역           object
지역.1         object
dtype: object

In [ ]:
# 소계, 지치구별 열을 다 없애버린다. 
careSalary_df = careSalary_df[
    (careSalary_df['자치구별'] != '소계') & (careSalary_df['자치구별'] != '지치구별(2)')
]
careSalary_df

,자치구별,현황별(1),소계,소계.1,직장(근로자),직장(근로자).1,공무원·교직원,공무원·교직원.1,지역,지역.1
1,종로구,합계,3810010,232294908,2311924,129798054,224849,12119545,1273237,90377308
2,종로구,입원,40189,87094206,20873,44674254,2107,4189796,17209,38230156
3,종로구,외래,2511568,101834836,1518394,60190554,148309,5671638,844865,35972644
4,종로구,약국,1258253,43365866,772657,24933247,74433,2258111,411163,16174509
5,중구,합계,3648699,214495919,2317550,124260986,143118,7794061,1188031,82440872
...,...,...,...,...,...,...,...,...,...,...
96,송파구,약국,6443790,187435440,4499706,121343964,405876,9821069,1538208,56270407
97,강동구,합계,13676624,702610763,9315217,444285786,778448,35846538,3582959,222478439
98,강동구,입원,119653,225519334,73449,132265823,6244,11265187,39960,81988324
99,강동구,외래,8918535,340729509,6038376,223832526,508338,18127525,2371821,98769459
100,강동구,약국,4638436,136361919,3203392,88187437,263866,6453826,1171178,41720656

In [ ]:
# 인덱스를 리셋해준다
careSalary_df = careSalary_df.reset_index(drop=True)
careSalary_df

,자치구별,현황별(1),소계,소계.1,직장(근로자),직장(근로자).1,공무원·교직원,공무원·교직원.1,지역,지역.1
0,종로구,합계,3810010,232294908,2311924,129798054,224849,12119545,1273237,90377308
1,종로구,입원,40189,87094206,20873,44674254,2107,4189796,17209,38230156
2,종로구,외래,2511568,101834836,1518394,60190554,148309,5671638,844865,35972644
3,종로구,약국,1258253,43365866,772657,24933247,74433,2258111,411163,16174509
4,중구,합계,3648699,214495919,2317550,124260986,143118,7794061,1188031,82440872
...,...,...,...,...,...,...,...,...,...,...
95,송파구,약국,6443790,187435440,4499706,121343964,405876,9821069,1538208,56270407
96,강동구,합계,13676624,702610763,9315217,444285786,778448,35846538,3582959,222478439
97,강동구,입원,119653,225519334,73449,132265823,6244,11265187,39960,81988324
98,강동구,외래,8918535,340729509,6038376,223832526,508338,18127525,2371821,98769459
99,강동구,약국,4638436,136361919,3203392,88187437,263866,6453826,1171178,41720656

In [ ]:
# 컬럼 이름을 바꿔준다. 
careSalary_df.columns = [col.replace('.1', '(건수)') for col in careSalary_df.columns]
careSalary_df.columns = [col.replace('(1)', '') for col in careSalary_df.columns]
careSalary_df

,자치구별,현황별,소계,소계(건수),직장(근로자),직장(근로자)(건수),공무원·교직원,공무원·교직원(건수),지역,지역(건수)
0,종로구,합계,3810010,232294908,2311924,129798054,224849,12119545,1273237,90377308
1,종로구,입원,40189,87094206,20873,44674254,2107,4189796,17209,38230156
2,종로구,외래,2511568,101834836,1518394,60190554,148309,5671638,844865,35972644
3,종로구,약국,1258253,43365866,772657,24933247,74433,2258111,411163,16174509
4,중구,합계,3648699,214495919,2317550,124260986,143118,7794061,1188031,82440872
...,...,...,...,...,...,...,...,...,...,...
95,송파구,약국,6443790,187435440,4499706,121343964,405876,9821069,1538208,56270407
96,강동구,합계,13676624,702610763,9315217,444285786,778448,35846538,3582959,222478439
97,강동구,입원,119653,225519334,73449,132265823,6244,11265187,39960,81988324
98,강동구,외래,8918535,340729509,6038376,223832526,508338,18127525,2371821,98769459
99,강동구,약국,4638436,136361919,3203392,88187437,263866,6453826,1171178,41720656

In [36]:
# csv로 내보낸다.
careSalary_df.to_csv('data/processed/건강보험_급여구별여구별.csv', encoding='utf-8-sig', index=True)

### 세번째 전처리

In [37]:
# 현재 경로 확인
os.getcwd()

'c:\\Users\\admin\\Desktop\\mid_project\\MidProject'

In [42]:
# 세번째 CSV 불러와서 확인
crime_lot_df = pd.read_csv("data/raw/경찰청 서울특별시경찰청_5대범죄 발생 장소별 현황_20231231.csv", encoding="euc-kr")
crime_lot_df

    범죄명             장소  발생건수
0    살인           단독주택    19
1    살인            아파트    21
2    살인         다세대/연립    28
3    살인       오피스텔(원룸)     2
4    살인  기타거주시설(기숙사 등)     4
..   ..            ...   ...
303  폭력      군사기지/군사시설     7
304  폭력           구금장소    37
305  폭력         사회복지시설    51
306  폭력             기타  8026
307  폭력             미상  1081

[308 rows x 3 columns]

In [ ]:
crime_lot_df.isna().sum()

범죄명     0
장소      0
발생건수    0
dtype: int64

In [47]:
crime_lot_df['범죄명'].unique()

array(['살인', '강도', '강간·강제추행', '절도', '폭력'], dtype=object)

In [49]:
# csv로 내보낸다.
crime_lot_df.to_csv('data/processed/5대범죄 범죄 발생 장소별 현황.csv', encoding='utf-8-sig', index=True)

### 네번째 전처리

In [50]:
# CSV 불러와서 확인
employIndicate_df = pd.read_csv("data/raw/고용지표_20250529155101.csv")

employIndicate_df

         시점 경제활동참가율 경제활동참가율.1 경제활동참가율.2  실업률 실업률.1 실업률.2   고용률 고용률.1 고용률.2
0        시점      합계        남자        여자   합계    남자    여자    합계    남자    여자
1  2025. 01    62.9      70.2      56.4  4.2   3.8   4.7  60.3  67.5  53.8
2  2025. 02    63.5      71.0      56.8  4.7   4.3   5.1  60.5  67.9  53.9
3  2025. 03    63.4      70.9      56.6  4.6   4.3   4.9  60.5  67.9  53.9

In [51]:
# 모호한 컬럼 이름을 바꿔준다. 
employIndicate_df.columns = [col.replace('.1', '(남자)') for col in employIndicate_df.columns]
employIndicate_df.columns = [col.replace('.2', '(여자)') for col in employIndicate_df.columns]
employIndicate_df

,시점,경제활동참가율,경제활동참가율(남자),경제활동참가율(여자),실업률,실업률(남자),실업률(여자),고용률,고용률(남자),고용률(여자)
0,시점,합계,남자,여자,합계,남자,여자,합계,남자,여자
1,2025. 01,62.9,70.2,56.4,4.2,3.8,4.7,60.3,67.5,53.8
2,2025. 02,63.5,71.0,56.8,4.7,4.3,5.1,60.5,67.9,53.9
3,2025. 03,63.4,70.9,56.6,4.6,4.3,4.9,60.5,67.9,53.9

In [53]:
# 0번째 열을 지워준다. 
employIndicate_df = employIndicate_df[(employIndicate_df['시점'] != '시점')]

In [54]:
employIndicate_df

,시점,경제활동참가율,경제활동참가율(남자),경제활동참가율(여자),실업률,실업률(남자),실업률(여자),고용률,고용률(남자),고용률(여자)
1,2025. 01,62.9,70.2,56.4,4.2,3.8,4.7,60.3,67.5,53.8
2,2025. 02,63.5,71.0,56.8,4.7,4.3,5.1,60.5,67.9,53.9
3,2025. 03,63.4,70.9,56.6,4.6,4.3,4.9,60.5,67.9,53.9

In [55]:
# csv로 내보낸다.
employIndicate_df.to_csv('data/processed/고용지표 2025_3개월.csv', encoding='utf-8-sig', index=True)

### 다섯번쨰